.zoom {
	display: flex; //定位flex
}

.small {
	margin-right: 6.25rem;
	z-index: 3;
	position: relative;
}

.float1 {
	width: 6.25rem;
	height: 6.25rem;
	background-color: #F5F5D5;
	opacity: 0.6;
	position: absolute;
	z-index: 99;
}

.smallimg {
	display: block;
	z-index: 5;
}

.big {
	overflow: hidden;
	width: 18.75rem;
	height: 18.75rem;
	position: relative;
}

.bigimg {
	position: relative;
}
