<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemsServlet</servlet-name>
    <servlet-class>servlet.ItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemsServlet</servlet-name>
    <url-pattern>/servlet/ItemsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>regist_web</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>servlet.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <display-name>login</display-name>
  <!-- 登陆验证过滤器 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  
</web-app>